
<h1>User profile fart</h1>

<!-- <div class="media">
  <div class="media-body">
    <div class="media-section">
     <div>
        <%# cl_image_tag @user.photo, height: 300, width: 400, crop: :fill %>

    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2">
      <div class="card-profile-show">
          <div class="card-block">
            <%= image_tag @user.photo.url(:standard) if @user.photo.present?%>
            </div>
          </div>
        </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2">
      <div class="card-profile-show">
          <div class="card-block">
            <h4 class="card-title"><%= @user.full_name %></h4>
              <p><span class="detail-name">Email</span> <%= @user.email %></p>
                <p><span class="detail-name">Phone</span><%= @user.phone_number if @user.phone_number.present? %></p>
          </div>
      </div>

      <div class="card-profile-show">
        <div class="card-block">

          <h4><%= "You have no bookings" if @user.bookings.empty? %></h4>
          <ul>
          <% @user.bookings.each do |booking| %>
            <li><%= booking.date_time %></li>
            <li><%= booking.barber.name %></li>
          <% end %>
          </ul>
        </div>
      </div>

      <%= link_to "Find a barber and make a booking", root_path %>
      <%= link_to "Edit profile", edit_user_registration_path %>


      </div>
    </div>
  </div>
</div>


