
<div class="container">
  <div class="row">
   <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
      <%= simple_form_for @barber do |f| %>
      <%= f.error_notification %>
       <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :email %>
        <%= f.input :phone_number %>
        <%= f.input :photo %>
        </div>
        <div class="form-actions button-margin">
        <%= f.button :submit, class: 'btn btn-primary'%>

      </div>
      <% end %>
    </div>
  </div>
</div>







