
<div class="wrapper-grey">
  <div class="row">

    <div class="col-xs-12 col-sm-8">
    <div class="barbers-search-form">
      <h2>Check them out</h2>
        <ul class="list-inline">
          <li>Update City</li>
          <li>
          <%= form_tag(barbers_path, method: :get, id: "search-form", class: "form-inline") do %>
          <%= text_field_tag :city, params[:city], placeholder: "Search Cities", class: "form-control input-lg" %>
          <%= submit_tag "Search", class: "btn btn-primary btn-lg" %>
          <% end %>
          </li>
        </ul>
      </div>
      <div class="barbers-container-cards">
      <% @barbers.each do |barber|%>
        <div class="col-xs-12 col-sm-6">
          <div class="barber-card">
            <%= image_tag 'FMB_Barber_3.jpg', class: 'img-responsive' %>
            <h5><%= barber.name %></h5>
            <p><%= barber.address %></p>
            <p><%= barber.email %></p>
            <p><%= barber.phone_number %></p>
            <button><%= link_to 'Show', barber_path(barber) %></button>
            <button><%= link_to 'Delete', barber_path(barber), method: :delete, data: {confirm: "Are you sure?"} %></button>
          </div>
        </div>
      <% end %>
      </div>
    </div>

    <div class="map-position">
      <div id="map" ></div>
    </div>
  </div>
</div>




<!-- javascript -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
