

<div class="media">
  <div class="media-body">

    <div class="media-section">
      <ul class="list-inline">
        <li>Update City</li>
        <li>
        <%= form_tag(barbers_path, method: :get, id: "search-form", class: "form-inline") do %>
        <%= text_field_tag :city, params[:city], placeholder: "Search Cities", class: "form-control input-lg" %>
        <%= submit_tag "Search", class: "btn btn-primary btn-lg" %>
        <% end %>
        </li>
      </ul>
    </div>

    <div class="media-section">
      <% @barbers.each do |barber|%>
        <p class="text-center"><%= image_tag barber.photo.url(:standard) if barber.photo.present? %></p>
        <h4><%= barber.name %></h4>
        <p><%= barber.address %></p>
        <p><%= barber.city %></p>
        <p><%= barber.email %></p>
        <p><%= barber.phone_number %></p>

        <button><%= link_to 'Show', barber_path(barber) %></button>
        <button><%= link_to 'Delete', barber_path(barber), method: :delete, data: {confirm: "Are you sure?"} %></button>
      <% end %>
    </div>

    <div class="media-section">
      <h2>PLACEHOLDER FOR SOMETHING...</h2>
      ...
    </div>

  </div>

  <div class="media-aside">

    <div class="media-section">
      <h2>Share</h2>
      ...
    </div>

    <div class="media-section">
      <h2>382 upvotes</h2>
      ...
    </div>

  </div>

</div>
