
<div class="media">
  <div class="media-body">

    <div class="media-section">
      <ul class="list-inline">
        <li>Update City</li>
        <li>
        <%= form_tag(barbers_path, method: :get, id: "search-form", class: "form-inline") do %>
        <%= text_field_tag :city, params[:city], placeholder: "Search Cities", class: "form-control input-lg" %>
        <%= submit_tag "Search", class: "btn btn-primary btn-lg" %>
        <% end %>
        </li>
      </ul>
    </div>

    <div class="media-section">
      <div class="container">
        <% @barbers.each do |barber|%>
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <p class="text-center"><%= image_tag 'FMB_Barber_3.jpg' %></p>
          </div>
          <div class="col-xs-12 col-sm-9">
            <h4><%= barber.name %></h4>
            <p><%= barber.address %></p>
            <p><%= barber.email %></p>
            <p><%= barber.phone_number %></p>
            <button><%= link_to 'Show', barber_path(barber) %></button>
            <button><%= link_to 'Delete', barber_path(barber), method: :delete, data: {confirm: "Are you sure?"} %></button>
          </div>
        </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class="media-aside" id="map" style="width: 100%; height: 600px;"></div>


</div>


<!-- javascript -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
