

<div class="barber-show-banner" style="background-image: url(<%= image_path 'retro1.jpg' %>);">
</div>

<strong></strong>

<div class="container">
  <h1><%= @barber.name %></h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="">
        <h3>Details:</h3>
        <p><strong>Address: </strong><%= @barber.address %></p>
        <p><strong>Email: </strong><%= @barber.email %></p>
        <p><strong>Phone: </strong><%= @barber.phone_number %></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="">
        <h3>Make a Booking</h3>


          <%= simple_form_for [@barber, @booking] do |f|%>
          <ul class="list-inline">
            <%= f.input :barber_id, as: :hidden, value: @barber.id %>
            <li> <%= f.input :date, as: :string, input_html: { class: 'datetimepicker' }%></li>
            <li><%= f.button :submit, class: "btn btn-primary" %></li>
            </ul>
          <%end%>

      </div>
    </div>
  </div>
</div>

<!-- javascript -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @barber_coordinates %>;
      alert('Barber coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>
