z<h1>Show Barber</h1>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%#= image_path @barber.photo.url(:standard) %>);">
</div>


<div>
  <h4><%= @barber.name %></h4>
  <h4><%= @barber.address %></h4>
  <h4><%= @barber.email %></h4>
  <h4><%= @barber.phone_number %></h4>


  <%= simple_form_for [@barber, @booking] do |f|%>
    <%= f.input :barber_id, as: :hidden, value: @barber.id %>
    <%= f.input :date, as: :string, input_html: { class: 'datetimepicker' }%>
    <%= f.button :submit, class: "btn btn-primary" %>
  <%end%>

</div>

<!-- javascript -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @barber_coordinates %>;
      alert('Barber coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>
