<div class="banner" style="background-image: url(<%= image_path 'retro1.jpg' %>);">
  <%#= cl_image_tag("cover_pic_cocktails_djgzcr.jpg", :alt => 'Cocktails Cover') %>
  <div class="banner-content">
    <h1>Find My Barber</h1>
    <p class="call-to-action">Manliness is a only a good haircut away.</p>

    <%= form_tag(barbers_path, method: :get, id: "search-form", class: "form-inline") do %>
    <%= text_field_tag :city, params[:city], placeholder: "Search Cities", class: "form-control input-lg" %>
    <%= submit_tag "Search", class: "btn btn-primary btn-lg" %>
    <% end %>

  </div>
</div>

<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center header" >Discover Barbers in your city</h2>
    <div class="row">
      <% @barbers.first(3).each do |barber|%>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <%= link_to barber_path(barber) do %>
              <%= image_tag 'FMB_Barber_2.jpg', class: 'card img-responsive' %>
            <% end %>
            <div class="card-category"></div>
            <div class="card-description">
              <h2 class=><%= barber.name %></h2>
              <p><%= barber.address %></p>
              <p><%= barber.email %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



<h2 class="text-center" >Explore, Enjoy, Relax</h2>

<div class="container">
  <div class="row">
    <div class="card-images-2 col-xs-12 col-sm-6 col-md-8">
      <%= image_tag 'FMB_cover_brownish.jpg', class: 'card-images-2 img-responsive' %>
      <div class="card-description-images-2">
        <h2>Haircut</h2>
        <p>The earth is your new home.</p>
      </div>
    </div>
    <div class="card-images-2 col-xs-12 col-sm-3 col-md-4">
      <%= image_tag 'FMB_Barber_3.jpg', class: 'card-images-2 img-responsive' %>
      <div class="card-description-images-2">
        <h2>Grooming</h2>
        <p>The earth is your new home.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card-images col-xs-12 col-sm-6 col-md-4">
      <%= image_tag 'retro.jpg', class: 'card-images img-responsive' %>
      <div class="card-description-images">
        <h2>Tokyo</h2>
      </div>
    </div>
    <div class="card-images col-xs-12 col-sm-6 col-md-4">
      <%= image_tag 'max.jpg', class: 'card-images img-responsive' %>
      <div class="card-description-images">
        <h2>Perth</h2>
      </div>
    </div>
    <div class="card-images col-xs-12 col-sm-6 col-md-4">
      <%= image_tag 'jackd.jpg', class: 'card-images img-responsive' %>
      <div class="card-description-images">
        <h2>Copenhagen</h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card-images-2 col-xs-12 col-sm-3 col-md-4">
      <%= image_tag 'FMB_Barber_3.jpg', class: 'card-images-2 img-responsive' %>
      <div class="card-description-images-2">
        <h2>Grooming</h2>
        <p>The earth is your new home.</p>
      </div>
    </div>
    <div class="card-images-2 col-xs-12 col-sm-6 col-md-8">
      <%= image_tag 'FMB_cover_brownish.jpg', class: 'card-images-2 img-responsive' %>
      <div class="card-description-images-2">
        <h2>Haircut</h2>
        <p>The earth is your new home.</p>
      </div>
    </div>
  </div>
</div>


<div class="text-center padded" id="newsletter">
  <h2 class="header">Get news from us</h2>

  <p>Leave us your mail and get news from us</p>
  <form class="form-inline">
    <input type="email" placeholder="bob@gmail.com" class="form-control">
    <input type="submit" value="Subscribe" class="btn btn-primary">
  </form>
</div>
